header#header {
  background-color: #1964ab;
}

header#header nav a.navbar-brand {
  font-size: 1.8rem;
  font-family: "Roboto Slab";
  font-weight: 800;
  color: #525e6c;
}

header#header nav a.navbar-brand span {
  color: #5d92c4;
}

header#header nav .navbar-nav {
  margin-left: 75px;
  font-family: 'Lucida Sans';
}

header#header nav .collapse a {
  font-size: 1rem;
  color: #4c535b;
}

header#header nav .collapse a:hover {
  color: #5d92c4;
}

header#header nav button.navbar-toggler {
  color: #5d92c4;
  border: 1px solid #5d92c4;
}

/* main {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
} */

div.compras {
  position: absolute;
  z-index: 99;
  top: 10px;
  right: 10px;
  max-width: 600px;
  display: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}

div.carritoCompras:hover div.compras {
  display: block;
}

div.card {
  min-height: 600px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border: none;
  padding: 10px;
}

div.card img {
  height: 300px;
  object-fit: cover;
}




